.bar {
    fill: steelblue;
}

.bar:hover {
    fill: orange;
}

.axis-x,
.axis-y {
    font-size: 12px;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}