.bar {
    fill: steelblue;
}

.bar:hover {
    fill: orange;
}

.axis-x,
.axis-y {
    font-size: 12px;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}


h1 {
    text-align: center;
    margin-top: 20px;
}

.controlButtons {
    margin-top: 10px;
    text-align: center;
}

.sortingButtons {
    margin-top: 10px;
    text-align: center;
}

.chart {
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
    
}